<!DOCTYPE html>
<html>
  <head>
    <title>ApiCurious</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
    <h1>Welcome, <%= current_user.name %></h1>
    <%= link_to "Logout", "/logout" %>
    <% else %>
      <%= link_to "Login", "/auth/github" %>
    <% end %>
    <%= yield %>
  </body>
</html>
